<!DOCTYPE html>
<html>
<head>
  <title>LuluApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Aladin|Courgette|Kaushan+Script|Pacifico|Arima+Madurai|Italianno|Niconne|Arima+Madurai|Tangerine:700" rel="stylesheet">
    <!-- Custom styles for this template -->
   

</head>
<body>

	
		<%= yield %>

</body>
</html>
